.table {
  thead:first-child > tr:first-child > th {
    color: #333333;
    background-color: #dddddd;
    text-align: center;
    font-weight: normal;
    border-color: #999999;
    border-bottom: none;
    border-top: 1px solid #999999 !important;
  }

  tbody > tr > td {
    padding: 4px 10px;
    color: #666666;
    text-align: center;
    border-color: #999999 !important;
  }

  // 分页
  & + .pagination {
    margin: 10px 0;
    display: block;
    text-align: center;

    & > * {
      margin: 0 2px;
      padding: 0 2px;
    }
  }
}
