<ul class="sidebar">
  <li class="treeview">
    <a href="#">
      <i class="fa fa-list"></i>
      <span>基础数据管理</span>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="#">审核流程</a>
      </li>
      <li>
        <a href="#">审核节点</a>
      </li>
      <li>
        <a href="#">流程触发事件</a>
      </li>

    </ul>
  </li>

</ul>
